/************************************************
* PEL CSS RESET
*
* Author: Pierre-Emmanuel Lévesque
* License: none (public domain)
* Based on Eric Meyer and HTML5 Doctor resets
*************************************************/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, main, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Fixes old browser resize bugs */
html {
  font-size: 100.01%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, main, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

a {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}

/****************************************************
  SITE
****************************************************/

html {
  background: url('images/css/site/poleng.jpg');
}

body {
  margin: auto;
  width: 960px;
  font-family: 'Old Standard TT', serif;
  background: #0f161c;
  padding-bottom: 20px;
  -moz-box-shadow: 0 0 6px 6px #ccc;
  -webkit-box-shadow: 0 0 6px 6px #ccc;
  box-shadow: 0 0 6px 6px #ccc;
}

nav {
  background: #0f161c;
  width: 960px;
}

nav ul {
  display: inline-block;
  padding: 20px;
}

nav ul li {
  display: inline-block;
  font-size: 0.7em;
  letter-spacing: 2px;
  margin: 0 30px 0 0;
  text-transform: uppercase;
}

nav ul li.active {
  color: #f6f6f6;
}

/* a:link and a:visited must come before a:hover */
nav ul li a:link, nav ul li a:visited {
  color: #aaa;
}

nav ul li a:hover {
  color: #f6f6f6;
  -moz-transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

/* a:active must come after a:hover */
nav ul li a:active {
  color: #aaa;
}

header div {
  background: url('images/slideshow/uluwatu.jpg');
}

header div, .slideshow {
  width: 960px;
  height: 500px;
}

header div h1, header div h2 {
  display: none;
}

div[role="main"] {
  padding: 50px 0 50px 0;
  background: #fefefe;
}

div[role="main"] h2 {
  font-size: 0.9em;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: #0f161c;
  color: #f6f6f6;
  padding: 12px 10px 10px 10px;
  position: absolute;
  top: 538px;
  z-index: 9999;
  -mox-border-top-right-radius: 10px;
  -mox-border-bottom-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

div[role="main"] p {
  font-size: 1.075em;
  line-height: 1.6em;
  letter-spacing: 1px;
  max-width: 510px;
  padding-left: 50px;
  color: #777;
}

#about p:first-of-type {
  margin-bottom: 30px;
}

/* clears floats */
#tours, #vehicles, #photos {
  width: 100%;
  overflow: hidden;
}

#tours article:first-of-type {
  margin-left: 70px;
}

#tours article {
  float: left;
  margin: 20px 45px 20px 0;
  padding: 20px;
  width: 201px;
  background-color: #f9f6db;
  -mox-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

#tours article h3 {
  font-size: 1.025em;
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#tours article p {
  font-size: 0.75em;
  padding: 4px;
  text-align: center;
  color: #ccc;
  background-color: #669654;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#669654), to(#223f17));
  background-image: -webkit-linear-gradient(top, #669654, #223f17);
  background-image: -moz-linear-gradient(top, #669654, #223f17);
  background-image: -ms-linear-gradient(top, #669654, #223f17);
  background-image: -o-linear-gradient(top, #669654, #223f17);
  background-image: linear-gradient(top, #669654, #223f17);
  -mox-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  margin-bottom: 20px;
}

#tours article p em {
  color: #fff;
  font-size: 1.1em;
}

#tours article li {
  color: #212121;
  font-size: 0.8em;
  line-height: 1.8em;
  list-style: none;
  margin-left: 20px;
}

#tours article li:before {
  color: #669654;
  display: block;
  content:'\25A0'; /* square = '\25A0', circle = '\2022' */
  font-size: 13px;
  left: -15px;
  max-height: 0px;
  max-width: 0px;
  position: relative;
}

#tours article li ul {
  margin-bottom: 2px;
}

#tours article li ul li {
  font-size: 0.9em;
  line-height: 1.7em;
  margin-left: 15px;
}

#tours > p {
  font-style: italic;
  font-size: 0.8em;
}

ul#gallery {
  padding-left: 50px;
}

ul#gallery li {
  float: left;
  margin: 19px
}

ul#gallery li img {
  border: 1px solid #ddd;
  padding: 4px;
}

footer {
  background: #0f161c url('images/css/site/temple.png') no-repeat;
  background-position: 95% 83%;
  color: #aaa;
  padding: 50px 50px 10px 50px;
  color: #999;
}

footer div {
  overflow: hidden;
}

#team {
  float: left;
  padding-right: 30px;
  width: 425px;
  margin-bottom: 20px;
}

#team h2, #contact_us h2 {
  font-size: 1.4em;
  letter-spacing: 2px;
  margin-bottom: 25px;
}

#team article {
  font-size: 0.95em;
  line-height: 1.6em;
  margin-bottom: 30px;
}

#team article h3 {
  font-size: 1em;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

#contact_us {
  float: right;
  margin-right: 20px;
}

#contact_us address span i {
  margin-right: 10px;
  font-size: 1.6em;
}

#contact_us address span i, #contact_us address span span {
  display: inline-block;
  vertical-align: middle;	
}

#contact_us .tel, #contact_us .email {
  display: block;
  font-size: 1em;
}

#contact_us .tel {
  margin-bottom: 10px;
}

#contact_us .tel small {
  display: inline;
}

#contact_us .email {
  letter-spacing: 1px;
}

/* a:link and a:visited must come before a:hover */
#contact_us .email a:link, #contact_us .email a:visited {
  color: #ccc;
}

#contact_us .email a:hover {
  color: #f6f6f6;
  -moz-transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

/* a:active must come after a:hover */
#contact_us .email a:active {
  color: #ccc;
}

footer small {
  color: #454545;
  display: block;
  font-size: 0.7em;
  letter-spacing: 1px;
}

/****************************************************
  SLIMBOX 2
****************************************************/

#lbOverlay {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  cursor: pointer
}

#lbCenter, #lbBottomContainer {
  position: absolute;
  z-index: 9999;
  overflow: hidden;
  background-color: #fff
}

.lbLoading {
  background: #fff url("images/css/slimbox2/loading.gif") no-repeat center
}

#lbImage {
  position: absolute;
  left: 0;
  top: 0;
  border: 10px solid #fff;
  background-repeat: no-repeat
}

#lbPrevLink, #lbNextLink {
  display: block;
  position: absolute;
  top: 0;
  width: 50%;
  outline: none
}

#lbPrevLink {
  left: 0
}

#lbPrevLink:hover {
  background: transparent url("images/css/slimbox2/prevlabel.gif") no-repeat 0 15%
}

#lbNextLink {
  right: 0
}

#lbNextLink:hover {
  background: transparent url("images/css/slimbox2/nextlabel.gif") no-repeat 100% 15%
}

#lbBottom {
  font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
  font-size: 10px;
  color: #666;
  line-height: 1.4em;
  text-align: left;
  border: 10px solid #fff;
  border-top-style: none
}

#lbCloseLink {
  display: block;
  float: right;
  width: 66px;
  height: 22px;
  background: transparent url("images/css/slimbox2/closelabel.gif") no-repeat center;
  margin: 5px 0;
  outline: none
}

#lbCaption, #lbNumber {
  margin-right: 71px
}

#lbCaption {
  font-weight: bold
}
